* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    position: absolute;
    background-color: black;
}

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: #111416;
    margin: 2vh 0;
    padding: 2vh 1vh;
    color: white;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
}

.left {
    font-size: 1.5rem;
}

.right ul {
    margin: 0 10vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.right ul li {
    padding: 0 2vw;
}

li {
    transition: all;
}

li:hover {
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
}

.hi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6vh 4vw;
    padding: 0 4vw;
    width: 30vw;
    height: 50vh;
    font-size: 4rem;
    font-weight: bolder;
}

.box {
    width: 30vw;
    height: 90vh;
    margin: 0 2vw;
    padding: 0 2vw;
    overflow: hidden;
}

.box img {
    height: 50vh;
    padding-left: 10vw;
    margin-top: 14vh;

}

.about {
}

.about h1 {
    margin: 1vh 1vw;
    padding: 1vh 0;
    color: yellow;
}

.about p {
    margin: 0 1vw;
    font-size: 1.5rem;
    width: 95%;
}

.work {
    height: 95vh;
}

.work img {
    height: 60vh;
    margin: 0 3vw;
}

.work div {
    display: flex;
    justify-content: space-between;
}

.work div span {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.work h1 {
    color: yellow;
    margin: 0 1vw;
    padding: 2vh 0;
}

.work h2 {
    margin: 0 1vw;
}



.work span {
    margin: 0 1vw;
    padding: 2vh 0;
    display: flex;
    gap: 5vw;
}

.work span section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    padding: 3vh 2.5vw;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: #141a1a;
    transition: all;
}

.work span section:hover {
    background-color: #111416;
}


#id {
    height: 60vh;
    margin: 4vw;

}

.education h1 {
    color: yellow;
    margin: 0 1vw;
    padding: 2vh 0;
}

.education span {
    margin: 0 1vw;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.education div {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}


.education span section {
    display: flex;
    flex-direction: column;
    background-color: #141a1a;
    padding: 3vh 2.5vw;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: all;
}

.education span section:hover {
    background-color: #111416;
}

/* .skills{
    height: 90vh;
} */

.skills>img {
    display: flex;
    justify-content: center;
    align-items: center;

     width: 70vw;
    margin: 3vh 15vw; 
}

.skills h1 {
    color: yellow;
    margin: 0 1vw;
    padding: 2vh 0;
}

.skills span {
    margin: 0 1vw;
    padding: 2vh 0;
    display: flex;
    gap: 3vw;
}

.skills span section {
    width: 12vw;
    height: 20vh;
    padding: 3vh 2.5vw;
    border-radius: 1rem;
    background-color: #141a1a;
    font-size: 1rem;
    transition: all;
}

.skills span section:hover {
    background-color: #111416;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact span img {
    width: 15vw;
    margin: 0 5vw;
    margin-top: 10vh;
}

.contact span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact span :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}


.footer {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141a1a;
    height: 10vh;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.footer div img {
    width: 2.5vw;
    z-index: 10;
    transition: all;
}

.footer div img:hover {
    filter: invert(20%);
}

.footer p {
    margin-bottom: 2vh;
    font-size: 0.75rem;
}

.button {
    background-color: #141a1a;
    margin: 5vh;
    padding: 1rem;
    border-radius: 1rem;
    transition: all;
}

.button:hover {
    background-color: #111416;
    color: yellow;
}

section img {
    margin: 0 0;
    background-color: yellow;
    width: 2vw;
}

a {
    text-decoration: none;
}

@media (max-width: 950px) {
    .skills span {
        margin: 0 1vw;
        padding: 2vh 0;
        display: flex;
        flex-direction: column;
        gap: 3vw;
    }
    .skills span section {
        width: 80%;
        height: 15%;
        padding: 3vh 2.5vw;
        border-radius: 1rem;
        background-color: ;
        font-size: 1rem;
        transition: all;
  }
  .skills>img {
    display: flex;
    justify-content: center;
    align-items: center;

     width: 70%;
    margin: 3vh 15%; 
}
.right ul {
    margin: 0 7vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.right ul li {
    padding: 0 2vw;
}


}

@media (max-width: 735px)
{
    
.hi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 4%;
    padding: 0 4%;
    font-size: 1.5rem;

}

.box {
    margin: 0 2%;
    padding: 0 2%;
    overflow: hidden;
}

.box img {
    padding-left: 10%;
    margin-top: 70%;

}
.right ul {
    margin: 0 5vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.right ul li {
    padding: 0 2vw;
}
}

@media (max-width: 550px)
{
    .right ul {
        margin: 0 5vw;
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    
    .right ul li {
        padding: 0 2vw;
    }

    .hi {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: vh 4%;
        padding: 0 4%;
        font-size: 2rem;
        font-weight: bolder;
    }
    
    .box {
        margin: 0 2%;
        padding: 0 2%;
        overflow: hidden;
    }
    
    .box img {
        padding-left: 10%;
        margin-top: 70%;
    
    }
    
    .work img {
        width: 50%;
        height: 25%;
        margin: 10% 25%;
    }
    
    .work div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
.education div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 10vw;
}

#id {
    width: 50%;
    height: 25%;
    margin: 10% 25%;
}
} 